body{
    background-color: #E9E9E9;
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-size: 12pt;
    -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration: none;
    color: #4E8FF0;
}

ul{
    background-color: #FFFFFF;
    border-top: #E1E1E1 solid 1px;
    border-bottom: #E1E1E1 solid 2px;
    padding: 0px;
    margin: 0px -8px 0px -8px;
    list-style: none;
}

li{
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #313131;
    border-top: 1px solid #EDEDED;
    height: 35px; 
    line-height: 35px; 
}

img{
    vertical-align: middle;
}

h2{
    margin: 18px 0px 4px;
    line-height: 24px;
    font-size: 14px;
    color: #7C7B83;
    text-shadow: 0px 1px rgba(255, 255, 255, 0.2);
    font: inherit;
    font-size: 10pt;
}

.top{
    background-color: #F6F6F6;
    border-bottom: 2px solid #E1E1E1;
    margin: -10px -8px -9px -9px;
    padding: 10px 0px 5px 0px;
    height: 35px;
}

.topicon{
    position: absolute;
    right: 9px;
    font-size: 25pt;
    top: 0px;
}

.tabs{
    height:30px;
    line-height:27px;
    text-align:center;
    width: 85%;
    margin-left: 10%;
    margin-right: 10%;
}

.tabs-three>.tab{
    width:30%
}

.tab{
    float:left;
    font-size: 10pt;
    border:1px solid #2087fc;
    border-right-width:0
}

.tab:first-child{
    border-radius:4px 0 0 4px
}

.tab:last-child
{
    border-right-width:1px;
    border-radius:0 4px 4px 0
}

.tab.active
{
    color:white;
    background:#2087fc;
    border-color:rgba(0,0,0,0.05);
}

.icon{
    vertical-align: middle;
}

.action{
    float: right;
    margin-top: 4px;
}

.pointer{
    cursor: pointer;
    margin-top: 7px;
    width: 17px;
    margin-left: 3px;
}

/* SWITCH */
.switch{
    display:inline-block;
    position:relative
}

.switch-input{
    display:none
}

.switch-label{
    display:block;
    width:56px;
    height:28px;
    background:#fafafa;
    border-radius:15px;
    box-shadow:inset 0 0 0 1px #e5e5e5;
    left:1px;
/*
    -webkit-transition:left 0.1s ease-out;
    -moz-transition:left 0.1s ease-out;
    -o-transition:left 0.1s ease-out;
    transition:left 0.1s ease-out
*/
}

.switch-label:before{
	content:'';
	position:absolute;
	top:1px;
	bottom:1px;
	left:inherit;
	width:26px;
	background:white;
	border-radius:13px;
	box-shadow:0 2px 5px rgba(0,0,0,0.2),0 0 2px rgba(0,0,0,0.2)
}

.switch-input:checked+.switch-label{
	background:#46ca5e;
	box-shadow:none;
	left:29px
}

/* SLIDER (input range) */
input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    width: 50%;
    height: 2px;
    padding: 0;
    border-left: 0px solid #017afd;
    border-right: 0px solid #a9acb1;
    background: #024069;
    border-radius: 20px;
    margin: 16px 5px 0px 5px;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0, #017afd),
        color-stop(0, #a9acb1)
    );
    outline: none;
}


input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance:none; 
    -moz-apperance:none; 
    width:25px; 
    height:25px;
    -webkit-border-radius:20px; 
    -moz-border-radius:20px; 
    -ms-border-radius:20px; 
    -o-border-radius:20px; 
    border-radius:20px;
    background-image:-webkit-gradient(
        linear, 
        left top, 
        left bottom, 
        color-stop(0, #fefefe), 
        color-stop(0.49, #d7d7d7), 
        color-stop(0.51, #d1d1d1), 
	color-stop(0, #c8c8c8) 
    );
    background: white;
    border: 1px solid white;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}


